/* sm: 576px; */
/* md: 768px; */
/* lg: 992px; */
/* xl: 1200px; */

body {
  @apply .font-heading;
}

ul {
  padding-left: 0;
}

.hide {
  display: none !important;
}

.screenreader-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@media screen and (max-width: 1200px) {
  .mobile-nav--hidden {
    transform: translateY(-100%);
  }

  .mobile-nav--hidden.mobile-nav--present {
    transform: translateY(0px);
  }
}
@media screen and (min-width: 1200px) {
  .xl-screenreader-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
}
